<h2><%= @restaurant.name %> Restaurant</h2>
<p><b>Name:</b> <%= @restaurant.name %></p>
<p><b>Address:</b> <%= @restaurant.address %></p>
<p><b>Phone number:</b> <%= @restaurant.phone_number %></p>
<p><b>Category:</b> <%= @restaurant.category %></p>
